<!--Vista que abarca los botones que dan funcionalidad a Enviar, Guardar o Salir-->
<div class="navegacion">
    
    <button id="enviar"  type="submit" class="form" onsubmit = "this.form.action = '/Solicitante'" value="'/Solicitante'">ENVIAR</button>
    <button id="guardar" type="submit" class="form" onclick = "this.form.action = '/Guardar'" value="'/Guardar'">GUARDAR</button>
    <button id="exit" onclick = "this.form.action = '/'" value="'/'">SALIR</button>
</div>
<script type="text/javascript" src="../js/funcionBotones.js"></script>
