<!--En este archivo tenemos la parte del pie de página -->

<footer class="main--footer">
    <div class="container container--flex">
        <div class="column column--50">
            <h2 class="column__title">Aviso de Privacidad</h2>
            <p class="column__txt">Todos los datos personales proporcionados en esta página se encuentran protegidos por la Ley Federal de Protección de Datos. 
                Puede revocar el acceso a su información o consultar su registro llamando al departamento de control educativo de la Unidad. Repprte cualquier anomalía a
                Dirección General de la Unidad.
            </p>
        </div>
        <div class="column column--50">
            <h2 class="column__title">Dirección</h2>
            <p class="colum__txt">Calz. Legaria 694, Col. Irrigación, Miguel Hidago, 11500 Ciudad de México</p>
            <p class="column__txt">Telefono: 57 29 6000</p>
            <p class="column__txt">ulegaria@cicata.ipn.mx</p>
        </div>
        <p class="copy">2020 UPIITA-IPN | Todos los derechos reservados</p>
    </div>
</footer>
