<!--En este archivo tenemos la parte del head de todas las vistas-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    user-scalable=yes, initial-scale=1.0, maximum-scale=3.0,minimum-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/estilosValidaciones.css">
    <link href="https://file.myfontastic.com/irG5KNPSQ5Z2BNNQypPyPG/icons.css" rel="stylesheet">
    <script src="../js/funcionesPestañas.js"></script>
    <title><%- title %></title>
</head>