<!--Este archivo funciona como un menu de barras, se puede implementar facilmente para hacer navegacion mas interactiva-->
<nav class="main-nav">
    <div class="container container--flex">
          <span class="icon-menu" id="btnmenu">MENÚ</span>
          <ul class="menu" id="menu">
              <li class="menu__item"><a href="/" class="menu__link">Inicio</a></li>
              <li class="menu__item"><a href="/Maestria" class="menu__link ">solicitantes Maestria</a></li>
              <li class="menu__item"><a href="/Doctorado" class="menu__link ">solicitantes Doctorado</a></li>
              <li class="menu__item"><a href="/Consulta" class="menu__link">Consulta</a></li>
              <li class="menu__item"><a href="/Solicitudes" class="menu__link">Coordinación</a></li>
          </ul>
    </div>
</nav>
<script src="../js/menu.js"></script>