<!-- //VISTA QUE LE APARECERA AL USUARIO CUANDO INGRESE UNA CURP CON SOLICITUD YA EXISTENTE -->
<!DOCTYPE html>
<html lang="en">
<link>
<%- include ('partials/head.ejs') %>
<title><%- title %></title>
<link rel="stylesheet" href="../css/estilotabla.css">
<body>
    <%- include ('partials/header.ejs') %>
    <br> 
    <br> 
    <br> 
    <h1 style="text-align: center;">INGRESASTE UN CURP QUE YA HA SIDO ENVIADO</h1>
    <br> 
    <br> 
    <br> 
    <a class="btn btn-danger" value="Salir" id="salir" onclick="location.href='/'"><label>Salir</label></td>

    <script type="text/javascript" src="../js/funcionesPestañas.js"></script>
    <script type="text/javascript" src="../js/Validaciones.js"></script>
</body>

</html>