<!-- VISTA PARA ELEGIR SI ES COODINADOR O SOLICITANTE
CON LA IMPLEMENTACION DEL LOGIN YA NO SERÁ NECESARIO COLOCARLO EN LA INTERFAZ -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    user-scalable=yes, initial-scale=1.0, maximum-scale=3.0,minimum-scale=1.0">
    <title>CICATA - Inicio</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link href="https://file.myfontastic.com/irG5KNPSQ5Z2BNNQypPyPG/icons.css" rel="stylesheet">
    <script src="../js/funcionesPestañas.js"></script>
</head>

<body>
    <%- include ('partials/header.ejs') %>
    
    <button class="btn" ><a class="sel" href="/Coordinador" >COORDINADOR</a></button>
    <button class="btn" ><a class="sel" href="/Solicitante" >SOLICITANTE</a></button>

    <%- include ('partials/footer.ejs') %>
</body>
</html>


    