/* En este archivo se definen los estilos de la validacion de error */
.subForm-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.subForm-incorrecto .labels{
	color: #bb2929;
}

.subForm-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.subForm-incorrecto .tex {
	border-bottom: 3px solid #bb2929;
}
